/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary-300: 'Dongle', sans-serif;
    --font-titles-700: 'Dongle', sans-serif;
}

/* Colors */
:root {
    --color-primary: #aa86cd;
    --color-white: ghostwhite;
    --color-darkPurple: #23263D;
    --color-water: #3D5FAB;
    --color-sandy: #DBC093;
    --color-card: #C9C4CF;
    --color-black: #212431;
}

/* Values */
:root {
    --outline-style: 4px solid ghostwhite;
    --border-radius: 8px;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-white);
    overflow-x: hidden;
    background-color: var(--color-darkPurple);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: none;
}

p {
    font-family: var(--font-primary-300);
    font-size: 40px;
    margin: 0 auto 0 auto;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-titles-700);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding: 2% 0;
    overflow: hidden;
}

.section-bg {
    background-color: #35373D;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

    .section-header h1, h2 {
        font-family: var(--font-titles-700);
        font-size: 65px;
        font-weight: 700;
        position: relative;
        color: var(--color-white);
    }

        /*In summary, this CSS rule is creating decorative lines before and after the
        content of h2 elementswithin elements having the class*/
        .section-header h1:before,
        .section-header h1:after {
            content: "";
            width: 60px;
            height: 4px;
            background: var(--color-primary);
            display: inline-block;
        }

        .section-header h1:before {
            margin: 0 15px 10px 0;
        }

        .section-header h1:after {
            margin: 0 0 10px 15px;
        }

        /*Sandy colored lines*/
        .section-header h2:before,
        .section-header h2:after {
            content: "";
            width: 60px;
            height: 4px;
            background: var(--color-sandy);
            display: inline-block;
        }

        .section-header h2:before {
            margin: 0 15px 10px 0;
        }

        .section-header h2:after {
            margin: 0 0 10px 15px;
        }

    .section-header p {
        font-family: var(--font-primary-300);
        font-size: 40px;
        margin: 0 auto 0 auto;
        line-height: 2;
    }

@media (min-width: 1199px) {
    .section-header p {
        max-width: 60%;
    }
}

@media screen and (max-width: 1300px) {
    .section-header p {
        font-size: 0px;
    }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

@media (max-width: 1279px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }
}

/*--------------------------------------------------------------
# Main Page Section
--------------------------------------------------------------*/
#main-page {
    background-color: var(--color-darkPurple);
    margin-bottom: 40px;
}

.main-page .card-item {
    transition: 0.3s;
}

.main-page .card-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--color-card);
    box-shadow: 10px 12px 4px rgba(0, 0, 0, 0.4);
    padding-bottom: calc(131 / 100 * 100%);
    border-radius: var(--border-radius);
    outline: 10px solid white;
    transition: outline-color 0.3s;
}

    .main-page .card-container {
        margin: 0 auto;
    }

@media (min-width: 1199px) {
    .card-container {
        max-width: 75%;
    }
}


.card-box .content {
    position: absolute;
    top: 80%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    color: var(--color-black); /* Example styling for content */
    text-align: center; /* Example styling for content */
    z-index: 1; /* Ensure content is above the image */
}

    .card-box .content h1 {
        font-family: var(--font-titles-700);
        font-weight: 800;
        font-size: 3em;
        line-height: 0.5;
    }

    .card-box .img-container {
        position: absolute;
        width: 100%;
        height: 66.66%; /* 2/3 of the height */
        overflow: hidden;
    }

    .card-box .img-container .background-img {
        width: 100%;
        height: 100%;
    }

    .card-box .img-container .background-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Crop the image to cover the entire container */
        object-position: center; /* Position the image at the center */
    }

        .card-box .img-container .overlay-image {
            position: absolute;
            top: 60%;
            left: 60%;
            width: 60%; /* Adjust the size of the overlay image */
            transform: translate(-65%, -70%);
            z-index: 2;
            image-rendering: pixelated;
        }

    .card-box .img-container::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 5%;
        background: var(--color-primary);
        position: absolute;
        bottom:0;
        left:0;
    }

/*hover behavior*/
.main-page .card-item:hover {
    transform: scale(1.05);
}

.main-page .card-item:hover .card-box {
    outline-color: var(--color-primary);
}

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
#portfolio {
    background-color: var(--color-water);
}

.portfolio .portfolio-title {
    position: relative;
}

    .portfolio .portfolio-title h2::after {
        content: '';
        display: inline-block;
        width: 1em; /* Set a default width for the pseudo-element */
        height: 1em; /* Set a default height for the pseudo-element */
        background: url('../img/fish.png') no-repeat; /* URL to your image */
        background-size: contain; /* Adjust the image size */
        margin-left: 10px; /* Adjust the spacing between h2 and the image */
        vertical-align: bottom; /* Aligns the image vertically */
        position: relative;
        top: .1em; /* Adjust vertical position if needed */
    }

    .portfolio .portfolio-title strong {
        color: var(--color-sandy);
    }

.portfolio .portfolio-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /*16:9 aspect ratio (height:width ratio) for the video*/
    transition: 0.3s ease;
    outline: var(--outline-style);
    border-radius: var(--border-radius);
}

    .portfolio .portfolio-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
    }

    .portfolio .portfolio-video .video-placeholder {
        position: absolute;
        display: block;
        z-index: 1;
    }

        .portfolio .portfolio-video .video-placeholder img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: var(--border-radius);
        }

    .portfolio .portfolio-video .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.0);
        border: none;
        border-radius: 50%;
    }

        .portfolio .portfolio-video .play-button img {
            width: 100%;
            height: auto;
            outline: none;
            opacity: 0.9;
            transition: transform 0.3s ease;
        }

    .portfolio .portfolio-video:hover {
        transform: scale(1.05);
        outline-color: var(--color-sandy);
    }

    .portfolio .portfolio-video .video-placeholder:hover .play-button img {
        transform: scale(1.2);
    }

.portfolio .portfolio-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: var(--border-radius);
    outline: var(--outline-style);
    margin: 30px 3px 30px 3px;
}

.portfolio .portfolio-wrap:hover {
    transform: scale(1.1);
    outline-color: var(--color-sandy);
}

.portfolio h3 {
    font-family: var(--font-primary-300);
    font-size: 40px;
    margin: 0 auto 0 auto;
    line-height: 1.5;
    text-align: center;
}

.portfolio p {
    font-size: 35px;
}

/*--------------------------------------------------------------
# About Me Section
--------------------------------------------------------------*/
#about-me {
    background-color: #182A48;
}

.about-me img {
    outline: var(--outline-style);
    border-radius: var(--border-radius);
}

.about-me .title h2 {
    text-align: left;
}

.about-me h2::after {
    content: "";
    width: 60px;
    height: 4px;
    background: var(--color-primary);
    display: inline-block;
    margin: 0 0 10px 15px;
}

.about-me h3 {
    font-family: var(--font-primary-700);
    color: var(--color-primary);
}

.about-me p {
    font-size: 35px;
}

.about-me ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

    .about-me ul li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

    .about-me ul strong {
        margin-right: 10px;
        margin-left: 10px;
        color: var(--color-primary);
    }

    .about-me p:last-child {
        margin-bottom: 0px;
    }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background-color: var(--color-sandy);
    align-items: center;
}

.footer h1 {
    font-family: var(--font-titles-700);
    color: var(--color-black);
    font-size: 50px;
    font-weight: 700;
    padding-top: 8px;
}

.footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border-radius: var(--border-radius);
}

    .footer .social-links a:hover {
        background: var(--color-primary);
        color: #fff;
        text-decoration: none;
    }

.footer .footer-legal .copyright {
    padding-top: 30px;
    border-top: 1.5px solid #C9B087;
}

.footer .footer-legal .credits {
    padding-top: 4px;
    font-size: 13px;
    color: var(--color-black);
}

    .footer .footer-legal .credits a {
        color: var(--color-primary);
    }

/*--------------------------------------------------------------
# Generics
--------------------------------------------------------------*/
.my-container {
    margin: 0 auto;
}

@media (min-width: 1199px) {
    .my-container {
        max-width: 60%;
    }
}

.waves-container {
    background: url('../img/waves.png') repeat-x;
    height: 126px; /*the height of the image*/
    position: relative;
    overflow: hidden;
}

.reef-container {
    background: url('../img/reef.png');
    background-size: cover;
    width: 100%;
    height: 850px;
    overflow: hidden;
    position: relative;
    image-rendering: pixelated;
}

.circle-button {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary); /* Change color as needed */
    border-radius: 50%; /* Makes the element a circle */
    position: fixed;
    top: 20px; /* Adjust distance from the top */
    left: 20px; /* Adjust distance from the left */
    z-index: 999; /* Set a high z-index to keep it above other content */
    /* Add other styles like icon or text */

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

    .circle-button img {
        width: 70%;
        height: 70%;
    }

.circle-button:hover img {
    transform: scale(1.1);
}

